.login-container {
    margin: 0 auto;
    padding: 6vw;
    height: 90vh;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.login-container .logo {
    width: 100%;
    max-width: 10rem;
    border: 1rem solid;
    border-image: linear-gradient(to left, #101d7c, #03f7ea);
    border-image-slice: 1;
    justify-self: center;
}

.login-container .mobile-illustration {
    width: 100%;
    max-width: 65vw;
}

.login-container .desktop-illustration {
    display: none;
}

.login-container .form {  
    margin-top: 2vh;
}

.login-container .form form {
    margin-top: 2vh;
}

.login-container .form form h1 {
    margin-bottom: 1vh;
}


/* REMOVE ARROWS FROM INPUT TYPE NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 900px) {

    html{
        font-size: 62.5%;
    }

    .login-container {       
        margin: 0 auto;
        padding-top: 12rem;
        
        flex-wrap: wrap;
    }
    
    .login-container .desktop-illustration {
        display: flex;
        max-width: 50rem;
    }

    .login-container .mobile-illustration {
        display: none;
    }

    .login-container .logo {
        max-width: 12rem;
    }

    .login-container .form {
        max-width: 35rem;
        min-width: 25rem;
    }
    
    .login-container .form form {
        margin-top: 3rem;
    }
    
    .login-container .form form h1 {
        margin-bottom: 1rem;
    }
}

@media (max-height: 700px) {
    .login-container  {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .login-container .mobile-illustration {
        max-width: 30rem;
    }
}