:root {
    --color-grey: rgb(233, 222, 233);
    --color-isp: #006eba;
}

.login-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-container .form {
    width: 100%;
    max-width: 350px;
    
}

.login-container .form form {
    margin-top: 50px;
}

.login-container .form form h1 {
    margin-bottom: 10px;
}

.form img {
    max-width: 150px;
    border: 10px solid;
    border-image: linear-gradient(to left, #101d7c, #03f7ea);
    border-image-slice: 1;
    border-image-width: -10%;
    margin-left: 25%;
}

/* REMOVE ARROWS FROM INPUT TYPE NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
