.summary-container {
    padding: 0 1rem;
    margin: 1vh 2vw;
    display: flex;
    flex-flow: column;
}

.summary-container .content ul {
    list-style: none;
}

.summary-container .content h2 {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-container .content ul li strong{
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-container .content ul li p{
    margin: 10px 5px;
}

.summary-container .content {
    width: 100%;
    padding: 10px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin-top: 1%;
}

.summary-container .content ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between;
}

.summary-container .content ul li + li {
    margin-left: 45%;
}

@media (min-width: 900px) {
    .summary-container {
        width: 100%;
        max-width: 1180px;
        padding: 0 10px;
        margin: 10px auto;
    }
    
    .summary-container .content ul {
        list-style: none;
    }
    
    .summary-container .content h2 {
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .summary-container .content ul li strong{
        margin: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .summary-container .content ul li p{
        margin: 10px 5px;
    }
    
    .summary-container .content {
        width: 100%;
        padding: 10px;
        background: #f0f0f5;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin-top: 1%;
    }
    
    .summary-container .content ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: flex;
        justify-content: space-between;
    }
    
    .summary-container .content ul li + li {
        margin-left: 45%;
    }
}